/* AdminPanel.css */

.admin-panel-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .admin-panel {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--background-key);
    width: 90%;
    min-height: 80vh; /* Adjusted for viewport height */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .admin-panel-menu {
    background-color: #f7f7f7;
    border-right: 1px solid #ccc;
  }
  
  .admin-panel-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .admin-panel-menu li {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .admin-panel-menu li:hover,
  .admin-panel-menu li.active {
    background-color: #ddd;
    color: #000;
  }
  
  .admin-panel-content {
    padding: 20px;
  }
  
  .admin-panel-search-bar {
    margin-bottom: 20px;
  }
  
  .admin-panel-search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-panel-content-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .admin-panel-content-list li {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin-panel-content-list li .details {
    flex-grow: 1;
    padding-left: 20px; /* Added padding for better separation */
  }
  
  .admin-panel-content-list li .details div {
    margin-bottom: 8px; /* Added spacing between detail lines */
    font-size: 14px; /* Adjusted font size for details */
    color: #666; /* Adjusted color for details */
  }
  
  .admin-panel-content-list li button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .admin-panel-content-list li button:hover {
    background-color: #0056b3;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .pagination-container li {
    margin: 0 5px;
  }
  
  .pagination-container li a {
    padding: 8px 12px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination-container li a:hover,
  .pagination-container li.active a {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  