:root {
  --background-color: #ffffff;
  --background-box: #00000008;
  --background-key:#f0f0f0;
  --text-color: #000000;
  --accent-color: #b30092;

}

.dark-mode {
  --background-color: #1c1f24;
  --background-box: #282c34a8;
  --background-key:#3e2e43ba;
  --text-color: #efefef;
  --accent-color: #d604b0;
}

.App {

  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-wrapper {
  min-height: 630px;
  padding-top: 40px;
  padding-bottom: 60px;


}

a:link, a:visited {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.disabled {
  position: relative;
  pointer-events: none;
  opacity: 0.2
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(180deg);
  }
}

/*BUTTONS*/
button {
  padding: 10px 20px;
  background-color: rgb(236, 52, 153);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b30092;
}