.logo-container {
    display: flex;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    user-select: none;
}

.logo-wrapper {
    position: relative;
    display: inline-block;
    line-height: 0;
}
.logo-wrapper:hover .app-logo {
    background-image: url(../resources/logos/logo-fill.png);
    background-size: cover;
}

.app-logo {
    height: 100%;
    width: 150px;
    fill: white;
}

.app-logo * {
    fill: white;
    transition: fill 0.1s;
}

.app-logo:hover * {
    fill: rgba(219, 127, 255, 0);
}

.dialog-bubble {
    position: absolute;
    display: flex;
    align-items: center;
    top: 110px;
    left: 50px;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 35px;
    /* Increased border-radius for a more rounded shape */
    box-shadow: 3px 2px 0px black, 3px 2px 0px 1px white;
    opacity: 0;
    pointer-events: none;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 0.9em;
    white-space: nowrap;

}

.dialog-bubble p {
    margin: 0 auto;
    line-height: 20px;
}

.dialog-bubble.show {
    opacity: 1;
}

/* Adjusting the triangular arrow to be at the top-left corner */
.dialog-bubble::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 30px;
    /* Adjusted to match the new shape */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

.dialog-bubble::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 30px;
    /* Adjusted to match the new shape */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

@media (max-width: 600px) {

    .dialog-bubble {
        top: 100px;
        left: 55px;
    }

}