.consent-banner {
    position: fixed;
     bottom: 0;
     width: 100%;
     z-index: 1000;
     background-color: var(--background-color);
     padding-bottom: 10px; 
     box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
.consent-buttons-container{
    display: flex;
    justify-content: center;
    gap: 10px;

}