// Variables
$white-color: #fff;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-color: #ccc;
$primary-color: #007bff;
$hover-color: #0056b3;
$padding: 20px;
$border-radius: 8px;
$font-size-large: 1.5rem;
$margin-bottom-large: 20px;
$margin-bottom-small: 15px;
$margin-left-small: 5px;

// Edit Modal Content
.edit-modal-content {
  background-color: var(--background-color);
  padding: $padding;
  border-radius: 0 0 10px 10px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: $font-size-large;
    margin-bottom: $margin-bottom-large;
    text-align: center;
  }
}

// Form Group
.form-group {
  margin-bottom: $margin-bottom-small;

  label {
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 5px;

    > * {
      width: calc(100% - 20px); // Adjust width of inputs and selects
      padding: 8px;
      font-size: 1rem;
      border: 1px solid $border-color;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type="checkbox"] {
      width: 20px; // Adjust width of checkbox
      height: 20px; // Adjust height of checkbox
      appearance: none; // Remove default appearance
      border: 2px solid $border-color; // Add border for checkbox
      border-radius: 4px; // Add border radius
      cursor: pointer; // Change cursor on hover

      &:checked::before {
        content: "\2713"; // Unicode checkmark symbol
        position: relative;
        top: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 18px; // Adjust line height for centering
        background-color: $primary-color; // Blue color for checked state
        color: $white-color; // Text color for checkmark
        border-radius: 4px; // Rounded corners for checkmark
      }
    }

    span {
      margin-left: $margin-left-small; // Add spacing between checkbox and label text
    }
  }
}

// Button Hover State
button[type="submit"]:hover {
  background-color: $hover-color;
}
