/* Defined Variables */


/* FAQ Container */
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.faq-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

/* FAQ Section */
.faq {
    margin-bottom: 20px;
}

.faq h2 {
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 10px;
}

.faq p {
    text-align: start;
    font-size: 1em;
    line-height: 1.6;
    color: var(--text-color);
}
