.footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    /* Position the footer relative to the viewport */
    left: 0;
    bottom: 0;
}

.footer p {
    font-size: 0.8em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer-text {
    margin: 0;
    font-size: 14px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-link {
    display: inline-block;
    margin: 0 5px;
}

.social-icon {
    width: 20px;
    height: auto;
}

.footer .container a:hover {
    fill: rgb(236, 52, 153);
    color: rgb(236, 52, 153);
}