.login-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 40px;
    padding: 10px;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    background-color: var(--background-box);
    border-radius: 20px;
    min-width: 250px;
    height: 300px;
}
.login-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.login-form h2{
    margin: 0;
    text-align: start;
    font-size: 1.5em;
    color: var(--text-color);
}

.form-group input[type="password"], .form-group textarea {
    padding: 10px;
    font-size: 0.8em;
    border: 1px solid #ccc;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 5px;
}

