/* modal.css */
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black */
}

.modal-content {
    background-color: var(--background-color);
    border-radius: 15px;
    width: 60%;
    padding: 5px;
    z-index: 1001;
}

.modal-header {
    background: #000000;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -5px 0;
    border-radius: 15px 15px 0 0;
    padding: 70px;
    background-image: url(../resources/error.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    ;
}

/* modal.css */
.modal-form {
    padding: 20px;
    display: flex;
}


.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: start;
    font-size: 0.8em;
}

.form-group input[type="text"],
.form-group textarea {
    padding: 10px;
    font-size: 0.8em;
    border: 1px solid #ccc;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 5px;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.form-row {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.form-row .form-group {
    width: 30% !important;
}

.form-row .form-group input[type="text"] {
    padding: 0px;
    width: 80%;
    font-size: 1.5em;
    border: 0px solid #ccc;
    border-radius: 5px;
}

.form-row .form-group input[type="text"]:focus {
    outline: none;
    border-color: #ccc;
}

.modal-form button[type="submit"] {
    background-color: #19b01c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-form button[type="submit"]:hover {
    background-color: #128c10;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ccc;
}

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.close-button:hover {
    background-color: transparent;
    color: rgb(236, 52, 153);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.github-button,
.mail-button {
    background-color: #24292e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
}

.github-button:hover,
.mail-button:hover {
    background-color: rgb(236, 52, 153);
}

.github-button:focus,
.mail-button:focus {
    outline: none;
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }


}