/* Pagination.css */

.pagination {
    display: inline-block;
    padding: 20px 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
  }
  
  .page-item {
    display: inline;
  }
  
  .page-link {
    display: inline-block;
    width: 40px; /* Fixed size */
    height: 40px; /* Fixed size */
    line-height: 40px; /* Center text vertically */
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid var(--background-box);
    background-color: var(--background-box);
    color: #a0a2a3;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
  }
  
  .page-link[data-active="true"] {
    background-color: rgb(208, 27, 178);
    color: #ffffff;
    border: 1px solid rgb(208, 27, 178);
  }
  
  .page-link[data-active="false"]:hover {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  
  .page-item:hover .page-link {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  